{% extends "base.html" %}
{% block title %}Quizz-Karoo - Educational Quizzes{% endblock %}

{% block content %}
  <link rel="stylesheet" href="/static/Educational_quiz_container/edu_quiz_list.css">
  <div id="cards-2-row">
    <!-- Card 1 - Math Quiz -->
    <a href="{{ url_for('auth.edu_quiz_1') }}" style="text-decoration: none; color: inherit;">
      <div class="card swiper-slide" style="width: 18rem;">
        <div class="image-content">
          <span class="overlay"></span>
          <div class="card-image">
            <img src="/static/cube_giphy.gif" alt="Quiz Image" class="card-img-top">
          </div>
        </div>
        <div class="card-content">
          <p class="card-text">Test your math skills with our interactive quizzes designed to challenge your numerical prowess.</p>
        </div>
      </div>
    </a>
  
    <!-- Card 2 - Science Quiz -->
    <a href="{{ url_for('auth.edu_quiz_2') }}" style="text-decoration: none; color: inherit;">
      <div class="card swiper-slide" style="width: 18rem;">
        <div class="image-content">
          <span class="overlay"></span>
          <div class="card-image">
            <img src="/static/edu_quiz_list_images/science_quiz_gif.gif" alt="Quiz Image" class="card-img-top">
          </div>
        </div>
        <div class="card-content">
          <p class="card-text">Explore the wonders of science with quizzes that spark curiosity and encourage discovery.</p>
        </div>
      </div>
    </a>
  
    <!-- Card 3 - History Quiz -->
    <a href="{{ url_for('auth.edu_quiz_3') }}" style="text-decoration: none; color: inherit;">
      <div class="card swiper-slide" style="width: 18rem;">
        <div class="image-content">
          <span class="overlay"></span>
          <div class="card-image">
            <img src="/static/edu_quiz_list_images/historical_quiz_gif.gif" alt="Quiz Image" class="card-img-top">
          </div>
        </div>
        <div class="card-content">
          <p class="card-text">Dive into history with engaging quizzes that bring the past to life. Lets Play The Quiz!</p>
        </div>
      </div>
    </a>
  
    <!-- Card 4 - Language Quiz -->
    <a href="{{ url_for('auth.edu_quiz_4') }}" style="text-decoration: none; color: inherit;">
      <div class="card swiper-slide" style="width: 18rem;">
        <div class="image-content">
          <span class="overlay"></span>
          <div class="card-image">
            <img src="/static/edu_quiz_list_images/language_quiz_gif.gif" alt="Quiz Image" class="card-img-top">
          </div>
        </div>
        <div class="card-content">
          <p class="card-text">Challenge your language skills with quizzes crafted to enhance vocabulary and grammar.</p>
        </div>
      </div>
    </a>
  
    <!-- Card 5 - Geography Quiz -->
    <a href="{{ url_for('auth.edu_quiz_5') }}" style="text-decoration: none; color: inherit;">
      <div class="card swiper-slide" style="width: 18rem;">
        <div class="image-content">
          <span class="overlay"></span>
          <div class="card-image">
            <img src="/static/edu_quiz_list_images/geographical_quiz_gif.gif" alt="Quiz Image" class="card-img-top">
          </div>
        </div>
        <div class="card-content">
          <p class="card-text">Explore geography with quizzes that test your knowledge of world maps and cultures.</p>
        </div>
      </div>
    </a>
  
    <!-- Card 6 - General Knowledge Quiz -->
    <a href="{{ url_for('auth.edu_quiz_6') }}" style="text-decoration: none; color: inherit;">
      <div class="card swiper-slide" style="width: 18rem;">
        <div class="image-content">
          <span class="overlay"></span>
          <div class="card-image">
            <img src="/static/edu_quiz_list_images/generalKnowledge_quiz_gif.gif" alt="Quiz Image" class="card-img-top">
          </div>
        </div>
        <div class="card-content">
          <p class="card-text">Boost your general knowledge with quizzes that cover a range of fascinating topics.</p>
        </div>
      </div>
    </a>
  
    <!-- Card 7 - Critical Thinking Quiz -->
    <a href="{{ url_for('auth.edu_quiz_7') }}" style="text-decoration: none; color: inherit;">
      <div class="card swiper-slide" style="width: 18rem;">
        <div class="image-content">
          <span class="overlay"></span>
          <div class="card-image">
            <img src="/static/edu_quiz_list_images/criticialThinking_quiz_gif.gif" alt="Quiz Image" class="card-img-top">
          </div>
        </div>
        <div class="card-content">
          <p class="card-text">Sharpen your critical thinking with puzzles and quizzes designed for every learner.</p>
        </div>
      </div>
    </a>
  
    <!-- Card 8 - Fun Interactive Learning Quiz -->
    <a href="{{ url_for('auth.edu_quiz_8') }}" style="text-decoration: none; color: inherit;">
      <div class="card swiper-slide" style="width: 18rem;">
        <div class="image-content">
          <span class="overlay"></span>
          <div class="card-image">
            <img src="/static/edu_quiz_list_images/funLearning_quiz_gif.gif" alt="Quiz Image" class="card-img-top">
          </div>
        </div>
        <div class="card-content">
          <p class="card-text">Find the perfect quiz for you and embark on a journey of fun, interactive learning!</p>
        </div>
      </div>
    </a>
  </div>
  
{% endblock %}
