{% extends "base.html" %}
{% block title %}Quizz-Karoo - Geographical Quizzes{% endblock %}

{% block content %}
  <link rel="stylesheet" href="/static/Educational_quiz_container/edu_quiz_list.css">
  <div id="cards-2-row">
    
    <div class="card swiper-slide" style="width: 18rem;">
      <div class="image-content">
        <span class="overlay"></span>
        <div class="card-image">
          <!-- Sample geographical GIF -->
          <img src="/static/geographical_quiz_list_images/geography_card_1.gif" alt="Geographical Quiz Image" class="card-img-top">
        </div>
      </div>
      <div class="card-content">
        <p class="card-text">Test your knowledge on world maps, continents, and oceans with our engaging geographical quizzes.</p>
      </div>
    </div>
    
    <div class="card swiper-slide" style="width: 18rem;">
      <div class="image-content">
        <span class="overlay"></span>
        <div class="card-image">
          <!-- Sample GIF for capitals -->
          <img src="/static/geographical_quiz_list_images/geography_card_2.gif" alt="Country Capitals Quiz Image" class="card-img-top">
        </div>
      </div>
      <div class="card-content">
        <p class="card-text">Explore your knowledge of capital cities and learn about the political and cultural hubs of each country.</p>
      </div>
    </div>
    
    <div class="card swiper-slide" style="width: 18rem;">
      <div class="image-content">
        <span class="overlay"></span>
        <div class="card-image">
          <!-- Sample GIF for landmarks -->
          <img src="/static/geographical_quiz_list_images/geography_card_3.gif" alt="Landmark Quiz Image" class="card-img-top">
        </div>
      </div>
      <div class="card-content">
        <p class="card-text">Identify famous landmarks and monuments from around the world with our landmark quiz series.</p>
      </div>
    </div>
    
    <div class="card swiper-slide" style="width: 18rem;">
      <div class="image-content">
        <span class="overlay"></span>
        <div class="card-image">
          <!-- Sample GIF for map reading -->
          <img src="/static/geographical_quiz_list_images/geography_card_4.gif" alt="Map Reading Quiz Image" class="card-img-top">
        </div>
      </div>
      <div class="card-content">
        <p class="card-text">Sharpen your map-reading skills and challenge yourself with quizzes on directions, scale, and topography.</p>
      </div>
    </div>
    
    <div class="card swiper-slide" style="width: 18rem;">
      <div class="image-content">
        <span class="overlay"></span>
        <div class="card-image">
          <!-- Sample GIF for global regions -->
          <img src="/static/geographical_quiz_list_images/geography_card_5.gif" alt="Global Regions Quiz Image" class="card-img-top">
        </div>
      </div>
      <div class="card-content">
        <p class="card-text">Delve into the unique characteristics of different regions and learn about their natural wonders and cultures.</p>
      </div>
    </div>
    
    <div class="card swiper-slide" style="width: 18rem;">
      <div class="image-content">
        <span class="overlay"></span>
        <div class="card-image">
          <!-- Sample GIF for physical geography -->
          <img src="/static/geographical_quiz_list_images/geography_card_6.gif" alt="Physical Geography Quiz Image" class="card-img-top">
        </div>
      </div>
      <div class="card-content">
        <p class="card-text">Challenge yourself with quizzes on mountains, rivers, deserts, and other physical features of our planet.</p>
      </div>
    </div>
    
    <div class="card swiper-slide" style="width: 18rem;">
      <div class="image-content">
        <span class="overlay"></span>
        <div class="card-image">
          <!-- Sample GIF for cultural geography -->
          <img src="/static/geographical_quiz_list_images/geography_card_7.gif" alt="Cultural Geography Quiz Image" class="card-img-top">
        </div>
      </div>
      <div class="card-content">
        <p class="card-text">Learn about the interplay between geography and culture with quizzes that highlight diverse traditions and lifestyles.</p>
      </div>
    </div>
    
    <div class="card swiper-slide" style="width: 18rem;">
      <div class="image-content">
        <span class="overlay"></span>
        <div class="card-image">
          <!-- Sample GIF for cartography -->
          <img src="/static/geographical_quiz_list_images/geography_card_8.gif" alt="Cartography Quiz Image" class="card-img-top">
        </div>
      </div>
      <div class="card-content">
        <p class="card-text">Put your cartography skills to the test by exploring quiz challenges on map design and interpretation.</p>
      </div>
    </div>

  </div>
{% endblock %}
