*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

body{
    width: 100vw;
}
::-webkit-scrollbar{
    display: none;
}

header{
    display: flex;
    align-items: center;
    width: 100vw;
    position: fixed;
    background-color: white;
    z-index: 2;
}
#navbar{
    width: 100%;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 2px rgba(0, 0,0,0.3);
    padding: 0em 2em;
}
#logo-container{
    margin: 0em 1.5em;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}
#logo-container>figure>img{
    height: 100%;
    width: 100%;
}


#searchbar-container{
    width: 40%;
}

.search-btn{
    border: 1px solid rgb(135, 34, 242);
    background-color: white;
    padding: 0em 1em;
    border-radius: 8px;
}
.search-btn:hover{
    background-color: #8722f2;
    transition: 100ms linear;
    color: white;
}


#buttons-container{
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#profile-section{
    margin: 0em 1.5em;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}
#profile-section>a>figure>img{
    height: 100%;
    width: 100%;
}






















main{
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 2em;
}

#my-account-title-container{
    width: 100%;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}
#my-account-title{
    font-size: 2em;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
    margin-left: 2em;
    margin-top: 0.5em;
}

#main-account-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}
#account-details-section, #profile-details-section, #linked-accounts-section, #my-created-surveys-section{
    padding: 1em;
    width: 50vw;
}
#account-details-title, #profile-details-title, #linked-accounts-title, #my-created-surveys-title{
    width: max-content;
    font-size: 2em;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
}
#account-details-content-container, #profile-details-content-container, #linked-accounts-content-container, #my-surveys-content-container{
    height: max-content;
    width: 100%;
    margin-top: 1em;
    padding: 2em;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}
#profile-details-content-container{
    display: flex;
}
#account-plan-details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#account-plan-features>h6{
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
    color: gray;
}
#account-plan-features>p{
    /* font-family: serif; */
    font-weight: 500;
}

#account-plan-upgrade-btn>button{
    background-color: #8722f2;
    color: white;
    outline: none;
    border: 0px;
    padding: 10px;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 4px;
}
#account-plan-upgrade-btn>button:hover{
    background-color:  #8622f2b8;
}

#logout-btn{
    background-color: #8722f2;
    color: white;
    outline: none;
    border: 0px;
    padding: 10px;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 4px;
    width: 10vw;
    margin-top: 1em;
}
#logout-btn:hover{
    background-color:  #8622f2b8;
}

#my-surveys-content-container>p{
    font-weight: 500;

}

#my-surveys-btn{
    background-color: #8722f2;
    color: white;
    outline: none;
    border: 0px;
    padding: 10px;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 4px;
}
#my-surveys-btn:hover{
    background-color:  #8622f2b8;
}

#username_password-profile-details-content-container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
#username-container, #password-container, #email-container{
    width: 100%;
    margin: 1em;
}
#username-container>label, #password-container>label, #email-container>label{
cursor: pointer;
}
#edit-btn-profile-details-container{
    width: 10vw;
    align-self: flex-end;
}
#profile-details-edit-btn{
    background-color: #8722f2;
    color: white;
    outline: none;
    border: 0px;
    padding: 10px;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 4px;
    width: 100%;
}
#save-profile-btn{
    background-color: #8722f2;
    color: white;
    outline: none;
    border: 0px;
    padding: 10px;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 4px;
    width: 100%;
}
#profile-details-edit-btn:hover{
    background-color: #8622f2b8;
}

#linked-accounts{
    /* padding: 1em; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.linked-accounts-name-container{
    margin: 1em;
    display: flex;
    flex-direction: column;
}
.linked-accounts-name-container>label{
    font-weight: 600;
}
.linked-accounts-name-container>a{
    font-weight: 400;
    cursor: pointer;
}




#aside-section{
    display: none;
    align-self: center;
    height: 70vh;
    width: 25vw;
    z-index: 999;
    position: absolute;
    right: 0;
    top: 12em;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: 200ms linear;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    padding: 1em 0em 1em 1em;
    background-color: white;
    background: rgb(255,255,255);
    transition: 200ms linear;
}

#send-message-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(196, 196, 196, 0.834);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 1em;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.24);
}
#message-icon-container{
    margin-right: 1em;
}
#thumbs-up-icon{
    color: black;
    cursor: pointer;
}
#search-help-container{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 2em;
    background-color: rgba(196, 196, 196, 0.834);
    height: 22em;
    overflow-y: scroll;

}
#search-input{
    padding: 0.5em;
    width: 100%;
    outline: none;
    border: 0px;
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
    padding-left: 1em;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

input[type="search"]::-moz-search-clear-button {
    display: none;
}

input[type="search"]::-ms-clear {
    display: none;
}

#search-help-text-container{
    margin-bottom: 1em;
}

#search-results-container{
    margin-top: 1em;
    padding: 1em 0em;
}

.search-results-box{
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 1em;
    width: 100%;
    padding: 0.5em;
    background-color: white;
    color: black;
    cursor: pointer;
}


.answer-box {
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    font-size: 14px;
    display: none; /* Initially hidden */
}

